body {
    margin: 0;
    font-family:'Roboto', sans-serif;
    text-align: center;

}

@keyframes navLink { from {background-color:black;}
                         to {background-color:white;}
                         from {color:white;}
                         to {color: black;}}


header {
    background-color: black;
    color: white;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 0 1.0em;
    font-weight: bold;
    position: fixed;
    width:100%;
}

header a {
    color: white;
    text-decoration: none;
    padding: 0 0.5em;
    font-size: 21px;
}

header a:hover {
        animation-name:navLink;
        animation-duration: 2s;
        animation-fill-mode:forwards;
}

nav {
    margin-right: 2.0em;
}

#nav-contact {
    border: none
}

article {
    width:100%;
    height:50%;
    padding-top: 10.0em;
    padding-bottom: 2.0em;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(images/banner.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.25;
    font-weight: 500;
    border-bottom: 2px solid white;
    color: white;
}

h1, h2, a {
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 36px;
}

 article img {
     border-radius: 50%;
     width: 50%;
     height: 50%;
 }

#about-me {
    width:65%;
}

#skills {
    padding-top: 2.0em;
    padding-bottom:2.0em;
}

#skill-logo {
  
    width: 60%;
    margin-left: 20%;
    padding-bottom: 2.0em    
}

.logo {
    height:10em;
    width: 10em;
    padding: 5px
}

#projects {
    background-color:black;
    padding-top: 2.0em;
    padding-bottom: 2.0em;
    color: white;
    border-bottom: 1px solid white;
}

#projects p {
    padding-bottom: 2.0em;
}

#card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.portfolio-card {
    width:200px;
    height:300px;
    background-color: white;
    color: black;
}

.portfolio-card img {
    width: 200px;
    height: 200px;
}

#quote {
    height: 15em;
}

#new-quote {
    visibility: hidden;
    font-size: 30px;
}

button {
    background-color: black;
    color: white;
    border-radius: 5%;
    font-size: 26px;
}

#contact {
    height: 20em;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(images/footer.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2.0em;
    padding-bottom: 2.0em;
    color: white;
}
#contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20%;
    padding-top: 0;
    font-size: 24px;
}
#contact i {
    color: white;
    padding: 0 1.0em;
}

#socials i {
    font-size: 2.0em;

}

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: black;
    color: white;
    border-top: 1px solid white;
    text-align: right;
    display: flex;
    align-content: center;
    justify-content: flex-end;
   
}

footer p {
    margin-right: 10px;
}


@media screen and (max-width: 600px) {
    header {
        font-size: 16px;
    }

    #skills {
       margin: 0 1.5em
    }

    #card-section {
        flex-direction: column;
        align-items: center;
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-content: center;
        height: auto;
    }
    #contact-container {
        flex-direction:column;
        font-size:18px

    }

    #socials {
        font-size: 16px;
    }
}